@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"), url("/fonts/segoe-ui.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Yu Gothic Medium";
  src: local("Yu Gothic Medium"),
    url("/fonts/yugothic-medium.otf") format("opentype");
  font-display: swap;
}

@import "common.css";

@import "s-alert-custom.css";

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  .segment {
    @apply bg-white rounded p-4 bg-opacity-80;
  }
}
