@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"), url("/fonts/segoe-ui.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Yu Gothic Medium";
  src: local("Yu Gothic Medium"),
    url("/fonts/yugothic-medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: local("Segoe UI"), url("/fonts/Lato-Regular.ttf") format("truetype");
  font-display: swap;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  .segment {
    @apply bg-white rounded p-4 bg-opacity-80;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px black;
  }
  .text-shadow-sm {
    text-shadow: 0px 0px 3px black;
  }
  .text-shadow-md {
    text-shadow: 4px 4px 8px black;
  }
  .text-shadow-lg {
    text-shadow: 15px 15px 30px black;
  }
  .text-shadow-none {
    text-shadow: none;
  }
}
