.headerInAmpMode {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 65px;
  border-bottom: 2px solid #eee;
  background-color: #fff;
  z-index: 100;
  display: flex;
  flex-direction: row;
}

.headerInAmpMode .amp_logo {
  margin: 7.5px 16px;
}

.headerInAmpMode .headerLink {
  flex-grow: 1;
  align-self: center;
  font-family: Segoe UI;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.headerInAmpMode .headerLink h2 {
  font-weight: lighter;
}

.feedWrapper {
  padding: 0px 20vw;
  padding-top: 0px;
}

.feedWrapper .title {
  font-family: Lato;
  text-align: center;
}

.feedWrapper .info {
  font-family: Lato;
  color: #777;
  margin: 5px 0px;
}

.feedWrapper .markdownWrapper {
  font-family: Segoe UI, Yu Gothic Medium, Lato;
  padding: 0px;
  font-weight: lighter;
}

.feedWrapper .markdownWrapper p {
  font-size: 1.3rem;
  margin: 0px 0px;
  padding-bottom: 20px;
  line-height: 2.5rem;
}

.feedWrapper .markdownWrapper p em {
  font-size: 1rem;
  display: block;
  text-align: center;
  color: #666;
  line-height: 1.5rem;
}

.feedWrapper .markdownWrapper a {
  font-size: 1.3rem;
  color: #3366ff;
}

.feedWrapper .markdownWrapper ul {
  list-style: square;
  margin-top: 10px;
  font-size: 1.3rem;
}

.feedWrapper .markdownWrapper li {
  padding-bottom: 2px;
}

.feedWrapper amp-img.contain img {
  object-fit: contain;
}

.feedWrapper .ampImgContainer {
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
}

.feedWrapper .linksToWasedaTime {
  display: block;
  font-family: Lato;
  text-align: center;
  text-decoration: none;
  color: #666;
}

.feedWrapper .linksToWasedaTime p {
  margin: 10px 0px;
}

.dark .feedWrapper .markdownWrapper p {
  color: #D7D7D7;
}

.dark .feedWrapper .markdownWrapper p em {
  color: #585858;
}

@media (max-width: 768px) {
  .feedWrapper {
    padding: 0px 5vw;
    padding-top: 0px;
  }

  .feedWrapper .markdownWrapper p {
    font-size: 1.1rem;
    line-height: 2rem;
  }

  .feedWrapper .markdownWrapper p em {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  .feedWrapper .markdownWrapper a {
    font-size: 1.1rem;
  }

  .feedWrapper .markdownWrapper ul {
    font-size: 1.1rem;
  }

  .feedWrapper .ampImgContainer {
    height: 200px;
  }
}