@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"), url(../fonts/segoe-ui.ttf) format("truetype");
}

@font-face {
  font-family: "Yu Gothic Medium";
  src: local("Yu Gothic Medium"),
    url(../fonts/yugothic-medium.otf) format("opentype");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: Segoe UI, Yu Gothic Medium, Lato !important;
  font-size: 1.6rem;
  font-display: swap;
}

p,
a,
button,
.header,
.button {
  font-family: Segoe UI, Yu Gothic Medium, Lato !important;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
  font-family: Lato, Yu Gothic Medium, Segoe UI !important;
  font-display: swap;
}

a:focus {
  outline: 0;
}

/*
Incredibly useful site:
https://www.materialpalette.com/colors
*/

.theme-default .color-0 {
  color: #580505;
  background-color: #ef9a9a;
  border-color: #580505;
}

.theme-default .color-1 {
  color: #9e2c08;
  background-color: #ffcc80;
  border-color: #9e2c08;
}

.theme-default .color-2 {
  color: #845125;
  background-color: #fff59d;
  border-color: #845125;
}

.theme-default .color-3 {
  color: #114615;
  background-color: #a5d6a7;
  border-color: #114615;
}

.theme-default .color-4 {
  color: #0c2a58;
  background-color: #90caf9;
  border-color: #0c2a58;
}

.theme-default .color-5 {
  color: #221361;
  background-color: #b39ddb;
  border-color: #221361;
}

.theme-default .color-6 {
  color: #3e2723;
  background-color: #c7a59a;
  border-color: #3e2723;
}

.theme-default .color-7 {
  color: #222;
  background-color: #aaa;
  border-color: #222;
}

.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
