.ui.segment {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 90%;
  overflow: hidden;
  cursor: pointer;

  transition: all 0.7s;
}
.ui.segment:hover {
  border-radius: 10px;
  box-shadow: 0 10px 50px rgba(51, 51, 51, 0.25);
  transform: scale(1.05);
}

.ui.list {
  display: inline-block;
}

.company-detail {
  overflow: hidden;
}

.company-image-large-width img {
  max-width: 30%;
  float: left; /*左侧图片混排*/
  margin-right: 25px; /* 图片右端与文字的距离 */
  margin-bottom: 5px;
}

.company-image-short-width img {
  max-width: 100%;
  margin-bottom: 5px;
}

.company-part1 {
  margin-right: 100px;
  max-width: 50%;
  float: left;
}

.company-part2 {
  display: inline-block;
}

.job-button {
  float: right;
}
.ui.primary.button {
  margin-right: 10px;
}
