@media (max-width: 768px) {
    .left-side {
        display: none !important;
    }

    .filterButton {
        display: block !important;
    }
}

.filterButton {
    display: none;
    position: absolute;
    bottom: 7%;
    right: 2%;
}

.filterModal {
    display: flex;
    flex-direction: column;
    width: 70%;
    position: absolute;
    left: 15%;
    z-index: 99;
}
