.classroomListContainer__wrapper {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  flex: 1 0 auto;
  background-image: url('../img/nishi_waseda_campus-sm.jpg');
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;
}

.classroomListContainer__overlay {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  flex: 1 0 auto;
  padding: 42px 0px 25px 0px;
  background-color: rgba(0, 0, 0, 0.2);
}

.classroomList__title__wrapper {
  display: inline-block;
  margin-top: 30px;
  margin-left: -20px;
  padding: 3px 10px;
  border-radius: 0px 8px 8px 0px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.2);
}

.classroomList__title {
  margin: 0 0;
  padding-left: 25px;
  font-family: 'Times';
  font-size: 3.2rem;
  font-weight: lighter;
  color: #fff;
}

.classroomList__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 8vh;
}

.classroomList {
  text-align: left;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

.classroomItem {
  font-size: 1.7rem;
  padding: 8px 0;
  display: flex;
}

.classroomItem__vacant {
  display: table;
  background-color: #ceffaf;
  margin-right: 5px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  border: none;
}

.classroomItem__occupied {
  display: table;
  background-color: #ffafaf;
  margin-right: 5px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  flex-grow: 0;
}

.classroomItem__course {
  display: inline-block;
  background-color: #ffafaf;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  border: none;
}

/* .buildingItem__button:hover {
  background-color: #eee;
}

.buildingItem__button:active {
  background-color: #eee;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
} */

@-webkit-keyframes bounceright {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(3px);
  }
}
@keyframes bounceright {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(3px);
  }
}
