.comingsoon__wrapper {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  flex: 1 0 auto;
  background-image: url('../img/home_background-sm.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.comingsoon__overlay {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  text-align: center;
  flex: 1 0 auto;
  padding: 0 25px;
  background-color: rgba(0, 0, 0, 0.2);
}

.comingsoon {
  margin-top: 100px;
  font-size: 4rem;
}

@media screen and (max-width: 430px) {
  .comingsoon__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background-image: url('../img/home_background-mobile.jpg');
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* .home__title__description__wrapper {
    text-align: center;
    transform: translate(0, 11vh);
    animation-delay: 0ms;
    animation-name: slideup-in;
    animation-duration: 1000ms;
    max-width: 100%;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.5, 1.275);
    animation-fill-mode: forwards;
  }

  .home__title {
    font-size: 4.2rem;
    font-weight: 400;
    color: #000000;
  }

  .home__decription {
    font-size: 2.2rem;
    font-weight: 300;
    color: white;
  } */
}
