.home__wrapper {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  flex: 1 0 auto;
  background-image: url('../img/home_background-sm.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.home__overlay {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  flex: 1 0 auto;
  padding: 0 25px;
  background-color: rgba(0, 0, 0, 0.2);
}

.home__title__description__wrapper {
  text-align: center;
  transform: translate(0, 14vh);
  animation-delay: 0ms;
  animation-name: slideup-in;
  animation-duration: 1000ms;
  max-width: 100%;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.5, 1.275);
  animation-fill-mode: forwards;
}

.home__logo_wrapper {
  transform: translate(0, 13vh);
  text-align: center;
}

.home__logo {
  width: 120px;
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 1.5s;

  animation-name: spinner;
  animation-timing-function: linear;
  animation-duration: 1.5s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.home__title {
  font-family: Times;
  font-size: 5rem;
  font-weight: 400;
  color: #000000;
}

.home__decription {
  font-size: 2.3rem;
  font-weight: 300;
  color: white;
}

@keyframes slideup-in {
  from {
    transform: translate(0, 30vh);
  }
  to {
    transform: translate(0, 14vh);
  }
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotateY(360deg);
  }
  15% {
    -webkit-transform: rotateY(-360deg);
  }
  30% {
    -webkit-transform: rotateY(0deg);
  }
  45% {
    -webkit-transform: rotateY(360deg);
  }
  60% {
    -webkit-transform: rotateY(180deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
  }
}

@media screen and (max-width: 430px) {
  .home__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background-image: url('../img/home_background-mobile.jpg');
    background-color: rgba(0, 0, 0, 0.2);
    /* background-position: left bottom; */
    background-size: cover;
    background-repeat: no-repeat;
  }

  .home__logo_wrapper {
    transform: translate(0, 9vh);
    text-align: center;
  }

  .home__logo {
    width: 100px;
  }

  .home__title__description__wrapper {
    text-align: center;
    transform: translate(0, 11vh);
    animation-delay: 0ms;
    animation-name: slideup-in;
    animation-duration: 1000ms;
    max-width: 100%;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.5, 1.275);
    animation-fill-mode: forwards;
  }

  .home__title {
    font-size: 4.2rem;
    font-weight: 400;
    color: #000000;
  }

  .home__decription {
    font-size: 2.2rem;
    font-weight: 300;
    color: white;
  }

  @keyframes slideup-in {
    from {
      transform: translate(0, 30vh);
    }
    to {
      transform: translate(0, 11vh);
    }
  }
}
