.roomfinder__wrapper {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  flex: 1 0 auto;
}

.roomfinder__nav {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  position: absolute;
  top: 110px;
}

.roomfinder__nav__elem {
  display: table;
  margin-top: 10px;
  padding: 5px 15px 5px 25px;
  border-radius: 0px 8px 8px 0px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: 'Times';
  font-size: 3rem;
  font-weight: lighter;
  text-align: left;
  text-decoration: none;
}
