.roomfinder__wrapper {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  flex: 1 0 auto;
}

.roomfinder__nav {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  -ms-flex-direction: row;
  flex-grow: 1 0 auto;
  position: fixed;
  width: 100%;
  padding: 5px 0px 1px 24px;
  background-color: #777;
  text-align: right;
}

.roomfinder__logo {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

.roomfinder__nav__elem {
  align-self: flex-end;
  display: table;
  padding: 5px 12px 5px 12px;
  color: #fff;
  font-family: 'Garamond';
  font-size: 2.2rem;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

.roomfinder__comingsoon__main {
  top: 112px;
  left: 71px;
  padding: 1px 5px;
  background-color: pink;
  border-radius: 3px;
  position: fixed;
  display: inline-block;
  font-size: 1.1rem;
}

.roomfinder__comingsoon__toyama {
  top: 112px;
  left: 227px;
  padding: 1px 5px;
  background-color: pink;
  border-radius: 3px;
  position: fixed;
  display: inline-block;
  font-size: 1.1rem;
}
