.roomfinder__wrapper {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  flex: 1 0 auto;
}

.roomfinder__nav {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  -ms-flex-direction: row;
  flex: 1 0 auto;
  position: fixed;
  height: 36px;
  width: 100%;
  padding-left: 26px;
  background-color: #777;
  text-align: right;
}

.roomfinder__logo {
  height: 27px;
  width: 27px;
  align-self: center;
  margin-right: 18px;
}

.roomfinder__nav__elem {
  align-self: center;
  display: table;
  padding: 5px 14px 5px 14px;
  color: #fff;
  font-family: 'Garamond';
  font-size: 2rem;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

.roomfinder__comingsoon__main {
  top: 105px;
  left: 66px;
  padding: 1px 5px;
  background-color: pink;
  border-radius: 3px;
  position: fixed;
  display: inline-block;
  font-size: 1.1rem;
}

.roomfinder__comingsoon__toyama {
  top: 105px;
  left: 222px;
  padding: 1px 5px;
  background-color: pink;
  border-radius: 3px;
  position: fixed;
  display: inline-block;
  font-size: 1.1rem;
}
