.s-alert-box {
  padding: 6px;
}

.s-alert-box-inner {
  text-align: center;
}

.s-alert-success {
  background: #48af37;
  color: #fff;
}

.s-alert-warning {
  background: #ffc107;
  color: #000;
}

.s-alert-error {
  /* background: #b51e36; */
  background-color: #ce0115;
  color: #fff;
}
