*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

#root {
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 85px;
}

main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  flex: 1 0 auto;
}

a:focus {
  outline: 0;
}

/*.navbar .navbar-expand-sm*/
.header {
  background: #222222;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 0.3rem 1rem;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__wrapper {
  display: inline-block;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  width: inherit;
}

/*.navbar-brand*/
.header__logo {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 0.5rem;
  line-height: inherit;
  white-space: nowrap;
}

/*.navbar-nav*/
.header__nav {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  height: 6rem;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

/*.nav-item .nav-link*/
.header__nav__elem {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  margin-bottom: -1px;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 2rem 0.8rem;
  font-size: 1.7rem;
  font-weight: 330;
}

.header__nav__elem:hover {
  color: rgba(255, 255, 255, 0.75);
}

/*
@media (min-width: 320px) {
*/
.header {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.header .header__nav {
  -ms-flex-direction: row;
  flex-direction: row;
}
.header .navbar-collapse {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.footer {
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  color: #a9a9a9;
  background-color: #222222;
  /*
  background: #232526;
  background: -webkit-linear-gradient(to top, #232526, #414345);
  background: linear-gradient(to top, #232526, #414345);
  */
}

.footer__list {
  padding: 0;
  margin: 1.4rem 0;
  list-style-type: none;
}

.footer__link,
.footer__author {
  text-decoration: none;
  color: #ffffff;
}

.roomfinder {
}

.bldglist {
}
