.syllabus__wrapper {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  flex: 1 0 auto;
}

.syllabus__searchbar {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  -ms-flex-direction: row;
  flex: 1 0 auto;
  position: fixed;
  height: 36px;
  width: 100%;
  padding-left: 26px;
  background-color: #777;
}

.searchbar__logo {
  height: 27px;
  width: 27px;
  align-self: center;
  margin-right: 18px;
}

.searchbar__input__wrapper {
  width: 100%;
  align-self: center;
  margin-left: 14px;
  margin-right: 25px;
}

.searchbar__input {
  font-size: 1.6rem;
  width: 100%;
}
